.admin {
  padding: 4rem;
  display: flex;
  background-image: linear-gradient(
    to right top,
    #f58600,
    #fd4736,
    #ef0060,
    #c4008c,
    #6d00b1
  );
}
.container {
  flex: 1;
}
.container h1 {
  text-align: center;
}
.container table {
  width: 100%;
  /* text-align: left; */
  text-align: center;
  margin-top: 3rem;
}

.container th,
.container td {
  padding: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.container button {
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.container button:nth-child(1) {
  background-color: teal;
}
.container button:nth-child(2) {
  background-color: crimson;
}
